<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_Head")
<body>
   
    <div class="wrapper">
        @await Component.InvokeAsync("_Sidebar")
        @await Component.InvokeAsync("_Mainpanel")
        @await Component.InvokeAsync("_Customtemplate")
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("_Scripttemplate")
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
