@model IEnumerable<Application.Features.Customers.Queries.CustomerGetAllByUser.CustomerGetAllByUserQueryResponse>

    @{}
       
    <table class="table">
        <thead>
            <tr>
                <th>Adı Soyadı</th>
                <th>Telefon</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.NameSurname</td> <!-- Müşteri Adı -->
                        <td>@customer.Phone</td> <!-- Müşteri Telefonu -->
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">Hiç müşteri bulunamadı.</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination -->

