@model GetListResponse<Application.Features.Customers.Queries.CustomerGetAllByUser.CustomerGetAllByUserQueryResponse>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Adı Soyadı</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null && Model.Items.Any())
        {
            foreach (var customer in Model.Items)
            {
                <tr>
                    <td>@customer.NameSurname</td> <!-- Müşteri Adı -->
                    <td>@customer.Phone</td> <!-- Müşteri Telefonu -->
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Hiç müşteri bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("Pagination", new { model = Model, actionName = "Customers", controllerName = "Customer" })


