@model CustomerModel
@{
    ViewData["Title"] = "Form";
}
<h1>Form</h1>
<form method="post" action="/form/submit">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div>
        <label for="NameSurname">Ad Soyad:</label>
        <input type="text" id="NameSurname" name="NameSurname"/>
    </div>

    <div>
        <label for="ProductName"> Ürün ismi:</label>
        <input type="text" id="ProductName" name="ProductName"/>
    </div>
    <div>
        <label for="Phone">Telefon:</label>
        <input type="text" id="Phone" name="Phone"/>
    </div>
    <div>
        <label for="Description">Açıklama</label>
        <input type="text" id="Description" name="Description"/>
    </div>
    <div>
       
        <input type="hidden" id="UserId"/>
    </div>

    <div>
        <button type="submit">Gönder</button>
    </div>
</form>
