@model IEnumerable<UserQrCode>
@{
    ViewData["Title"] = "ListUsersWithQrCodes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ListUsersWithQrCodes</h1>
<body>
    <h2>QR Kodlu Kullanıcı Listesi</h2>
    <table>
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Email</th>
                <th>QR Kodu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>
                        @if (!string.IsNullOrEmpty(user.QRCode))
                        {
                            <img src="data:image/png;base64,@user.QRCode" alt="QR Code" style="width:100px;height:100px;" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

