﻿<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/Home/Index/" class="logo">
                <img src="~/assets/img/smartvisitlogo.png"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="30" width="60"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                
                <li class="nav-item active">
                    <a 
                       href="/Panel/Index"
                       
                       >
                        <i class="fas fa-home"></i>
                        <i class="bi bi-house-door"></i> <p>Anasayfa</p>
                        <span class="caret"></span>
                    </a>
                    @*  <div class="collapse" id="dashboard">
                    <ul class="nav nav-collapse">
                    <li>
                    <a href="../demo1/index.html">
                    <span class="sub-item">Dashboard 1</span>
                    </a>
                    </li>
                    </ul>
                    </div> *@
                </li>
                <li class="nav-item">
                    <a href="/Panel/CreatedCompanyLastMontly">
                        <i class="fas fa-users"></i>
                        <i class="bi bi-buildings-fill"></i>
                        <p>Şirket</p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="/Customer/CustomerGetAllByUser">
                        <i class="fas fa-users"></i>
                        <i class="bi bi-people-fill"></i>
                        <p>Müşteri</p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Sms/Index">
                        <i class="fas fa-check-circle"></i>
                        <i class="bi bi-envelope-arrow-up-fill"></i>
                        <p>Sms</p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Report/Index">
                        <i class="fa fa-print"></i>
                        <i class="bi bi-flag-fill"></i>
                        <p>Rapor</p>
                    </a>

                </li>
              
                <li class="nav-item">
                    <a href="#base" data-bs-toggle="collapse" aria-expanded="false" aria-controls="base">
                        <i class="fas fa-layer-group"></i>
                        <i class="bi bi-toggles"></i>
                        <p>Rol Ayarları</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/OperationClaims/Index">
                                    <i class="fas fa-list"></i><i class="bi bi-segmented-nav"></i>
                                 
                                    <span>Kullanıcı Rolleri</span>
                                </a>
                            </li>
                            <li>
                                <a href="/OperationClaims/GetAllRols">
                                    <i class="fas fa-edit"></i>
                                    <i class="bi bi-toggle-on"></i>
                                    <span>Rol Ayarları</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>



                <li class="nav-item">
                    <a href="/AppSettings/Index">
                        <i class="fas fa-pen-square"></i>
                        <i class="bi bi-gear-fill"></i>
                        <p> App Ayarları</p>
                    </a>

                </li>


            </ul>
        </div>
    </div>
</div>
